.paginadoContainer {
    margin-top: 8vh;
    justify-content: center;
    display: flex;
}

.paginadoContainer button {
    padding: 1.3vh 1.2vh;
    background-color: #222;
    margin: 0 .2%;
    width: 3.2%;
    border: none;
    cursor: pointer;
    transition: .3s;
    color: #eee;
    border-radius: 10px;
    font-size: 1rem;
}

.paginadoContainer button a {
    text-decoration: none;
    align-items: center;
    color: #aaa;
    display: flex;
    justify-content: center;
}

.paginadoContainer button:hover {
    background-color: #333;
}

.paginadoContainer button[disabled] {
    cursor: auto;
    opacity: .5;
}

.paginadoContainer button[disabled] a {
    cursor: auto;
}

.paginadoContainer button[disabled] {
    background-color: #222;
}

#currentPage {
    color: white;
    transform: scale(0.95);
    background-color: rgba(146, 10, 10, 0.5);
}


#currentPage:hover {
    background-color: rgba(146, 10, 10, 0.9);
}