    .homeContainer {
        background: linear-gradient(rgb(0 0 0 / .7), rgb(0 0 0 / .7)), url('../../images/fondo.webp');
        width: 100vw;
        height: 100vh;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    }

    .homeContainer .detailsHome {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #eee;
        line-height: 1;
        padding-top: 25vh;
    }

    .detailsHome h1 {
        font-size: 4rem;
        margin-bottom: 0;
    }

    .detailsHome p {
        margin-top: 3vh;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 6vh;
        color: #ff9494;
    }

    .detailsHome .locationDetails {
        display: flex;
        text-align: center;
        margin-top: 6vh;
        color: #ffdddd;
    }

    .detailsHome .dotLocation {
        font-size: 5rem;
        color: white;
    }


    @keyframes arribaAnimation {
        0% {
            opacity: 0;
            transform: translateX(-100%);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes abajoAnimation {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .detailsHome p {
        text-align: center;
    }

    .detailsHome .locationDetails {
        display: flex;
        justify-content: center;
    }

    .detailsHome .arriba {
        animation: arribaAnimation 1.5s ease;
    }

    .detailsHome .abajo {
        animation: abajoAnimation 1.5s ease;
    }
