.footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
    padding: 7vh 25vh;
}

.footerContainer h3 {
    color: #eee;
    font-weight: 100;
    letter-spacing: 1px;
}

.footerContainer div p {
    color: #aaa;
    cursor: pointer;
    font-weight: 100;
    display: flex;
    align-items: center;
    font-size: .85rem;
    width: 120%;
}

.footerContainer div span {
    margin-right: 5%;
}

.programadores {
    padding: 0;
    margin: 0;
    color: #aaa;
}

.programadores p {
    font-weight: 100;
    font-size: .85rem;
    text-align: center;
    }

.programadores p span {
    transition: .2s;
    cursor: pointer;
}

.programadores p span:hover {
    color: #ff9494;
}

.footerContainer div:last-child h3 {
    text-align: right;
}

.footerContainer div:last-child {
    height: 201px;
}

.footerContainer div:last-child {
    padding-bottom: 0;
}

.programadores {
    background-color: black;
    padding: 1px;
}

.programadores a {
    text-decoration: none;
}

.footerContainer #logo {
    font-size: 8rem;
}
