.footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0f0f;
    padding: 7vh 25vh;
}

.footerContainer h3 {
    color: #eee;
    font-weight: 100;
    letter-spacing: 1px;
}

.footerContainer div p {
    color: #aaa;
    cursor: pointer;
    font-weight: 100;
    display: flex;
    align-items: center;
    font-size: .85rem;
    width: 120%;
}

.footerContainer div span {
    margin-right: 5%;
}

.footerContainer .redes {
    display: flex;
    justify-content: end;
}

.footerContainer .redes a:first-child h4 {
    margin-right: 2vh;
}

.footerContainer .redes h4 {
    border-radius: 100%;
    background-color: #ddd;
    margin: 0;
    color: #121212;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 1.5vh 2vh;
    cursor: pointer;
    transition: .2s;
    height: 4.5vh;
}

.footerContainer .redes h4:hover {
    background-color: #b10303;
    color: #eee;
}

.programadores {
    padding: 0;
    margin: 0;
    color: #aaa;
}

.programadores p {
    font-weight: 100;
    font-size: .85rem;
    text-align: center;
    }

.programadores p span {
    transition: .2s;
    cursor: pointer;
}

.programadores p span:hover {
    color: #ff9494;
}

.footerContainer div:last-child h3 {
    text-align: right;
}

.footerContainer div:last-child {
    height: 201px;
}

.footerContainer div .redes {
    height: fit-content;
    margin-bottom: 0;
}

.footerContainer div .redes a:last-child h4 {
    margin-bottom: 0;
}

.footerContainer div:last-child {
    padding-bottom: 0;
}

.programadores a {
    text-decoration: none;
}

.footerContainer #logo {
    font-size: 8rem;
}