@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.navContainer {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100vw;
    position: fixed;
    top: 0;
    align-items: center;
    z-index: 50;
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 300px;
    border-bottom: 1px solid transparent;
    padding: .5vh 0;
}

@keyframes blur {
    0% {
        background: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0));
        -webkit-backdrop-filter: blur(0px);
        backdrop-filter: blur(0px);
    }

    100% {
        background-color: black;
        /*         background: linear-gradient(rgb(0 0 0 / .8), rgb(0 0 0 / .8));
        -webkit-backdrop-filter: blur(7px);
        backdrop-filter: blur(7px);
        border-color: #111; */
    }
}

.navContainer h1 {
    margin: 0;
    margin-left: 25vh;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 3px;
    font-weight: 700;
    cursor: pointer;
}

.navContainer ul {
    display: flex;
    padding: 0;
    margin-right: 0;
    align-items: center;
}

.navContainer .itemsNav {
    justify-content: space-between;
}

.navContainer ul li {
    list-style-type: none;
    font-weight: 100;
    color: #bbb;
    cursor: pointer;
    font-size: .9rem;
    transition: .2s;

}

.navContainer ul li:hover {
    color: white;
}

.userAndCart {
    justify-content: end;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 25vh !important;
}

.userAndCart li:last-child {
    padding: 5px 20px;
    margin-left: 0;
    background-color: #920a0a;
    color: #ddd;
    border-radius: 30px;
    border: none;
    margin-right: 0;
}

.userAndCart li:first-child {
    border: none;
    margin-right: 3vh;
}

.navContainer .userAndCart li:last-child:hover {
    background-color: #b10303;

}

.navContainer h1,
.navContainer ul,
.navContainer a,
.navContainer .userAndCart {
    width: 33.33%;
}


.navContainer a {
    margin-left: 25vh;
}

.navContainer a h1 {
    margin-left: 0;
    width: 100%;
}

.navbarAdmin {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 1.5vh 0;
    animation: adminNav linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
    border-bottom: solid 2px transparent;
    z-index: 50;
}

.navbarAdmin section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarAdmin * {
    padding: 0;
    margin: 0;
}

.navbarAdmin ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.navbarAdmin article {
    width: 33.33%;
}

.navbarAdmin ul li {
    list-style-type: none;
    cursor: pointer;
    border-radius: 30px;
    padding: 2px 30px;
    border: solid 2px #777;
    color: #777;
    transition: .3s;
}

.navbarAdmin ul li:hover {
    background-color: #0099ff;
    color: #eee;
    border-color: #0099ff;
    transform: scale(.97);
}

.navbarAdmin section {
    margin: 0 10%;
}

.navbarAdmin h1 {
    font-size: 1.7rem;
    width: fit-content;
    color: #0e3b5d;
    cursor: pointer;
    margin: 0 auto;
    letter-spacing: 3px;
    text-align: center;
}

.navbarAdmin a {
    color: #0e3b5d;
}

@keyframes adminNav {
    0% {}

    100% {
        background-color: white;
        border-color: #ddd;
    }
}
 .activate {
        color: #eee !important;
}

.linkUserNav {
    margin-right: 10%;
    display: flex;
    align-items: center;
    width: fit-content !important;
}

.iconUserNav {
    color: white;
    display: flex;
    align-items: center;
}
