.cartContainer {
    display: flex;
    justify-content: space-between;
    background-color: rgba(70, 70, 70, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 5px;
    margin: 8vw 15vh;
    padding: 2%;
}

.cartContainer * {
    margin: 0;
    padding: 0;
}

.cartContainer article {
    padding: 20px;
}

.cartContainer article:last-child {
    color: #eee;
    background-color: red;
    width: 27%;
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgba(70, 70, 70, 0.4);
    border-radius: 5px;
}

.cartContainer article:last-child h2 {
    font-size: 2rem;
}

.cartContainer article:last-child p {
    color: #ccc;
    margin-top: 2%;
    font-size: 1.5rem;
    margin-bottom: 20%;
    font-weight: 100;
}

.cartContainer article:last-child button {
    width: 70% !important;
    margin: 5% 0;
    font-size: .7rem !important;
    background-color: transparent;
    color: #eee;
    border: solid 1px #aaa;
}

.cartContainer article:first-child {
    display: flex;
    flex-direction: column;
    max-height: 65vh;
    overflow: hidden;
    overflow-y: scroll;
    width: 73%;
    padding: 0;
}

.empty {
    justify-content: center;
    overflow-y: hidden !important;
    align-items: center;
}

.cartContainer .mappeds .cardCartContainer:first-child {
    margin-top: 0 !important;
}