.productosGrid {
    margin-right: 25vh;
    margin-left: 25vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menuContainer .point {
    text-shadow: 0px 0px 0px #eee;
    color: black;
}
