.contactContainer {
    padding: 7vh 25vh;
    margin-top: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    background-color: black;
    flex-direction: column;
    border-top: 1px solid #222;
}

.contactContainer h1 {
    text-align: center;
    margin-top: 5vh;
    color: #eee;
    padding-top: 0;
    font-size: 2.8rem;
}

.contactContainer button {
    margin-bottom: 5vh;
}