.nosotrosContainer {
    padding: 7vh 25vh;
    line-height: 1;
    margin: 20vh 0;
    /*COLOCAR IMAGEN*/
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
}

.nosotrosContainer h1 {
    font-size: 3.5rem;
    color: #eee;
}

.nosotrosContainer div h5 {
    font-weight: 100;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.nosotrosContainer div p {
    margin-top: 1vh;
    color: #aaa;
    line-height: 1;
    font-weight: 100;
}

.nosotrosContainer div:last-child,
.nosotrosContainer .primera {
    text-align: right;
}