.nosotrosContainer {
    clip-path: polygon(0 0, 100% 0, 100% 88%, 18% 100%, 0 86%);
    margin: 25vh;
    height: 70vh;
    padding: 20vh;
    padding-bottom: 20vh;
    padding-top: 10vh;
    background: linear-gradient(rgb(0 0 0 /.5), rgb(0 0 0 / .5));
    backdrop-filter: blur(20px);
}

.nosotrosContainer .info {
    display: flex;
    align-items: center;
    color: #eee;
    border-bottom: 1px solid #222;
}

.nosotrosContainer img {
    border-radius: 5px;
    border: solid 3px transparent;
    height: 30vh;
    cursor: pointer;
    transition: .3s;
    padding: 2px;
}

.nosotrosContainer img:hover {
    border-color: #eee;
}

.nosotrosContainer .info:first-child div h5 {
    text-align: right;
}

.nosotrosContainer .info div h5 {
    font-size: 1.2rem;
    margin: 0;
}

.nosotrosContainer .info:first-child p {
    padding-left: 10%;
    text-align: right;
}

.nosotrosContainer .info:last-child p {
    padding-right: 10%;
}

.nosotrosContainer .info p {
    margin-top: 0;
    font-size: .8rem;
}

.nosotrosContainer .info:first-child {
    margin-bottom: 7%;
}