.patherProduct {
    width: 100vw;
    height: 100vh;
    padding-top: 25vh;
    background-color: black;
    margin-bottom: 0;
}

.detailContainer {
    height: 75vh;
    margin: 25vh 25vh;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    margin-top: 0;
    background: linear-gradient(to bottom, black, #1b1b1b);
    padding: 2%;
    align-items: center;
}

.detailContainer img {
    background-color: red;
    height: 85%;
    border-radius: 5px;
    width: 45%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: .2s;
}

.detailContainer img:hover {
    filter: brightness(120%);
}

.productDetails h1 {
    padding-top: 0;
    margin-top: 0;
    text-align: right;
    color: #eee;
}

.productDetails {
    color: #ccc;
    line-height: 1;
    padding: 7vh 0;
    width: 45%;
    padding-top: 0;
}

.productDetails .stock {
    color: #127700;
}

.productDetails h5 {
    display: flex;
    margin: 1vh 0;
    justify-content: end;
}

.productDetails h5 span {
    display: flex;
    padding-left: 5px;
    align-items: center;
}

.productDetails .ingredientes {
    margin-top: 5%;
}

.productDetails .ingredientes span {
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: .9rem;
    color: #aaa;
}

.productDetails h2 {
    text-align: right;
    color: #ccc;
    font-weight: 100;
}

.productDetails .productQuantity {
    display: flex;
    justify-content: end;
    align-items: center;
}

.productDetails .productQuantity h5,
.productDetails .productQuantity button {
    margin-right: 2vh;
}

.productDetails .productQuantity button {
    background-color: transparent;
    border: none;
    outline: none;
    color: #eee;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vh;
    cursor: pointer;
    transition: .2s;
}

.productDetails .productQuantity button:hover {
    color: red;
}

.productDetails .productQuantity button:last-child {
    margin-right: 0;
}

.productDetails .buttonShop button {
    margin: 2vh 0;
}

.productDetails .buttonShop button:first-child {
    margin-bottom: 1%;
}

.productDetails .buttonShop {
    display: flex;
    align-items: end;
    flex-direction: column;
}

.productDetails .buttonShop button {
    padding: 10px 20px;
    width: 65%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(255, 210, 210);
    background-color: #222;
    transition: .2s;
}

.productDetails .buttonShop button:hover {
    color: #eee;
    background-color: #333;
}

.productDetails #btnPersonalizado:hover {
    color: #eee;
    border-color: #127700;
}

.productDetails #btnPersonalizado::before {
    background-color: #127700;
}

.payMetods {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, black, black, #1b1b1b);
}

.payMetods div {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.payMetods img {
    width: 40px;
    height: 25px;
    border-radius: 0;
}

.payMetods img:hover {
    filter: brightness(100%);
}

.productDetails p {
    text-align: right;
    font-size: .8rem;
}

.productDetails p:last-child span {
    display: flex;
    align-items: center;
    justify-content: end;
}