body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
/*   background: radial-gradient(circle at top center, #000000, #000000 0, #000000 20%, #460000 25%, #000 100%);
 */}

.primary {
  color: #d70000;
}

.secondary {
  color: #b10303;
}

.terciary {
  color: #920a0a;
}

.light {
  color: #ffdddd;
}

.semiLight {
  color: #ff9494;
}