.panelAdminContainer {
    width: 100vw;
    background-color: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
}

.subContainerAdmin {
    margin: 10vh 0;
    margin-top: 0;
    width: 80vw;
    height: fit-content;
    background-color: rgb(250, 250, 250);
    color: #333;
    padding: 7vh 5vh;
}

.subContainerAdmin * {
    margin: 0;
    padding: 0;
}

.subContainerAdmin h2 {
    font-size: 1.8rem;
    color: #0e3b5d;
    opacity: .8;
    display: flex;
    align-items: center;
}

.subContainerAdmin h2 span {
    margin-left: 15px;
    display: flex;
    align-items: center;
    opacity: .4;
}

.subContainerAdmin .titleAndButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subContainerAdmin .titleAndButton button {
    border: none;
    color: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 7px 30px;
    cursor: pointer;
    min-width: 8vw;
    max-width: 8vw;
    font-size: .8rem;
    background-color: transparent;
    color: #333;
    background-image: linear-gradient(135deg, #bbb, #ccc, #eee);
}

.subContainerAdmin .titleAndButton button:hover {
    color: #111;
}

.subContainerAdmin .titleAndButton button span {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.subContainerAdmin .gridItemsAdmin {
    display: grid;
    grid-template-columns: repeat(3, .5fr);
    justify-content: center;
    gap: 60px;
    margin-top: 5vh;
}

#prueba {
    color: white;
    font-size: 200px;
}

.usernameAdmin {
    text-align: center;
    color: #aaa;
    font-size: 100;
}

.patherAdmin {
    min-height: 100vh;
    background-color: rgb(245, 245, 245);
    padding-top: 10%;
}

.patherAdmin .userData {
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #ddd;
    padding: 10px 30px;
    border-radius: 30px;
    color: #555;
    transition: .5s;
    margin-top: -3vh;
    margin-bottom: 5vh;
    background-color: #eee;
    background-image: linear-gradient(135deg, #ccc, #ddd, #eee);
}

.patherAdmin .userData:hover {
    color: #333;
}

.patherAdmin .userData img {
    border-radius: 50%;
}