.productosGrid {
    margin-right: 25vh;
    margin-left: 25vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 55px;
}

#btnSelected {
background-color: #eee;
color: #222;
border-color: #eee;
}