.productosGrid {
    margin-right: 25vh;
    margin-left: 25vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 55px;
}

.notFound {
    margin-bottom: 0;
    padding-bottom: 0;
}

#btnSelected {
    background-color: #eee;
    color: #222;
    border-color: #eee;
}

.menuContainer select {
    color: #ccc;
    background-color: #222;
    padding: 5px;
    margin-left: 3%;
    border-radius: 3px;
    cursor: pointer;
}

.divNotFound {
    width: 45vw;
    background: linear-gradient(rgb(0 0 0 / .5), rgb(0 0 0 / .5));
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 3% 2%;
    line-height: 1;
    border-bottom: solid 1px #222;
}

.divNotFound h3 {
    font-size: 1.2rem;
    width: 100%;
    text-align: left;
    margin-bottom: 1vh;
}

.divNotFound p {
    font-size: .8rem;
    font-weight: 100;
    color: #888;
    text-align: left;
    width: 100%;
    margin: 1vh 0;
}

.divNotFound p span {
    margin-right: 1vh;
}