.cardContainer {
    width: auto;
    color: #eee;
    margin: 0 auto;
    transition: .2s;
    margin-bottom: 3vh;
    margin-top: 0;
    cursor: pointer;
    height: 100%;
    border-bottom: 1px solid transparent;
    padding-bottom: 3vh;
    background: linear-gradient(rgba(78, 78, 78, 0.1), rgb(0 0 0 / .1));
    border-color: #222;
    backdrop-filter: blur(10px);
    filter: brightness(1.2);
}

.cardContainer:hover {
    filter: brightness(1.4);
    border-color: #666;
}

.cardContainer .imagen {
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
    height: 30vh;
    margin-bottom: 0;
}

.cardContainer .nombre {
    font-size: .85rem;
    text-align: left;
    transition: .2s;
    color: #eee;
    margin-top: 0;
    margin-bottom: 0;
}

.cardContainer .precio {
    color: #127700;
}

.cardContainer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
}

.cardContainer .categoria,
.cardContainer .precio {
    font-size: .7rem;
}

.cardContainer .categoria {
    color: #aaa;
}

.cardContainer button {
    background-color: black;
    color: #eee;
    border-radius: 50%;
    font-size: 1.2rem;
    border: none;
    outline: none;
    width: 45%;
    text-align: center;
    cursor: pointer;
    transition: .2s;
    border: solid 2px #222;
    display: flex;
    justify-content: center;
}

.cardContainer .gestion {
    width: 27%;
}

.cardContainer button:hover {
    background-color: #b10303;
    border-color: #b10303;
}

/* .cardContainer #btnPersonalizado {
    font-size: .7rem;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    font-weight: 500;
    padding: 1.5vh 0;
    margin-top: 5%;
} */